rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read: if true;
      allow create, update: if request.auth != null && request.auth.uid == userId;
    }
    
    match /links/{linkId} {
      allow read: if true;
      allow create: if request.auth != null;
      allow update: if request.auth != null && (
        resource.data.created_by == request.auth.uid ||
        (request.resource.data.diff(resource.data).affectedKeys().hasOnly(['likes']))
      );
      allow delete: if request.auth != null && resource.data.created_by == request.auth.uid;
    }

    match /likes/{likeId} {
      allow read: if true;
      allow create, delete: if request.auth != null;
    }
  }
}